.header {
	grid-template-areas:
		'lang logo toggle'
		'nav nav nav'
		'ctas ctas ctas';

	grid-template-columns: 1fr auto auto;
	grid-template-rows: auto auto auto;

	@media (width >= 40rem) {
		grid-template-columns: 2.5rem 1fr 1fr 1fr;
		grid-template-areas: 'lang nav logo ctas';
	}
}

.box {
	position: absolute;
	width: min(58rem, calc(100% - 2rem));
	height: 100px;
	/* inset: 0; */
	top: 2rem;
	margin-inline: auto;
}
