@import 'tailwindcss';
@import './fonts.css';

@theme {
	--color-canvas: #fff;
	--color-ink: #000;
	--color-accent: #000;

	--color-black: #230903;
	--color-white: #ffffff;
	--color-deepocean: #0657de;
	--color-butterschotch: #f99f00;
	--color-seashell: #f4eae5;
	--color-crab: #fe6641;
	--color-vistablue: #85aff9;
	--color-creamy: #f8f6f5;
	--color-darkseashell: #d1bcb2;

	--font-cdis: 'Clash Display', 'sans-serif';
	/* --font-inter: 'Inter', 'sans-serif'; */
	--font-inter: 'Sora', 'sans-serif';

	--max-height-fold: calc(100svh - var(--header-height));

	--breakpoint-xs: 20rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
}

@custom-variant hover (&:hover);

@variant header-open (body:has(#header-toggle:checked) &);
@variant header-closed (body:has(#header-toggle:not(:checked)) &);

@variant headings (& :is(h1, h2, h3, h4, h5, h6));

@layer base {
	* {
		min-width: 0;
	}

	[hidden] {
		display: none !important;
	}

	@supports (interpolate-size: allow-keywords) {
		:root {
			interpolate-size: allow-keywords;
		}

		:open::details-content {
			height: auto;
		}
	}

	:target {
		scroll-margin-top: var(--header-height);

		&:is(h1, h2, h3, h4, h5, h6) {
			animation: target 2s ease-in-out forwards;
		}
	}

	@keyframes target {
		0%,
		50% {
			background-color: color-mix(
				in oklab,
				var(--color-amber-400) 50%,
				transparent
			);
		}
	}

	html {
		accent-color: var(--color-accent);
		caret-color: var(--color-accent);
		scroll-behavior: smooth;
	}

	body:has(dialog[open]) {
		overflow: hidden;
	}

	label,
	input[type='submit'],
	select,
	button,
	summary {
		cursor: pointer;
	}

	input {
		background-color: transparent;
	}

	details {
		&::details-content {
			overflow: clip;
			transition-duration: var(--default-transition-duration);
			transition-property: content-visibility, block-size;
			transition-behavior: allow-discrete;
		}

		&:not(:open)::details-content {
			block-size: 0;
		}
	}

	::-webkit-details-marker {
		display: none;
	}

	hr {
		@apply border-ink/10;
	}
}

/* animations */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--tw-duration, var(--default-transition-duration))
		ease-in-out forwards;
}
@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1rem;
}
@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1rem;
}
@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1rem;
}
@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1rem;
}

@utility anim-fade-to-t2 {
	--x: 0;
	--y: -10rem;
	animation: anim-fade-to 700ms ease-in-out forwards;
}

@utility anim-fade-out {
	animation: anim-fadeout 2s ease-in-out forwards var(--delay-fadeout, 0);
}

@utility anim-trans {
	animation:
		anim-translate 2s ease-in-out forwards var(--delay-translate, 0),
		anim-fadeout 2s ease-in-out forwards var(--delay-fadeout, 0);
}

@utility anim-trans-y {
	animation: anim-translate-y 1s ease-in-out forwards var(--delay-translate, 0);
}

@utility anim-header {
	--y: -10rem;
	animation: anim-fade-in-y 1s ease-in-out forwards;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}

	to {
		opacity: 1;
		translate: 0 0;
	}
}

@keyframes anim-fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes anim-translate {
	from {
	}
	to {
		translate: var(--x, 0) var(--y, 0);
	}
}

@keyframes anim-fade-in-y {
	from {
		transform: translateY(var(--y, 0));
	}
	to {
		transform: translateY(0);
	}
}

@keyframes anim-fadeout-to {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}
}

@utility anim-bouncer {
	animation: bouncer 1.5s ease-in-out infinite;
}

@keyframes bouncer {
	0%,
	100% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(-25px);
	}
	60% {
		/* transform: translateY(-15px); */
	}
}

/* typography */

@utility h-base {
	font-weight: bold;
}

@utility h1 {
	@apply h-base font-cdis text-[1.875rem] leading-[2.3125rem] sm:text-[3rem] sm:leading-[3.625rem];
}
@utility h2 {
	@apply h-base font-cdis text-[1.625rem] leading-[2.3125rem] sm:text-[2.125rem] sm:leading-[2.625rem];
}
@utility h3 {
	@apply h-base text-2xl;
}
@utility h4 {
	@apply h-base text-xl;
}
@utility h5 {
	@apply h-base text-lg;
}
@utility h6 {
	@apply h-base;
}

@utility technical {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

@utility text-shadow {
	text-shadow: 0 0 0.2em rgb(0 0 0 / 0.25);
}

@utility text-gradient {
	@apply from-accent/3 to-accent bg-linear-to-br bg-clip-text text-transparent;
}

/* ctas, links */

@utility action-base {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 1em;
	text-align: center;
	text-shadow: none;
	color: var(--color-ink);
}

@utility floori-header {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.5rem 1.78125rem;
	line-height: 28px;
	text-shadow: none;
	@apply bg-crab border-crab font-cdis text-seashell rounded-[17px] border-2 font-semibold;

	&:hover {
		@apply bg-seashell text-crab cursor-pointer;
	}
}

@utility floori-light {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.5rem 1.78125rem;
	line-height: 28px;
	text-shadow: none;
	@apply bg-seashell border-seashell font-cdis text-crab rounded-[17px] border-2 font-semibold;

	&:hover {
		@apply bg-crab text-seashell cursor-pointer;
	}
}

@utility floori-hero {
	@apply floori-header rounded-[1.5rem];
}

@utility floori-nav {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.5rem 1.78125rem;
	font-size: 1rem;
	line-height: 28px;
	text-shadow: none;
	@apply bg-seashell font-cdis font-semibold text-black;

	&:hover {
		@apply cursor-pointer;
	}
}

@utility action {
	@apply action-base bg-accent rounded border border-transparent text-balance text-white;
}

@utility action-outline {
	@apply action-base border-accent/10 bg-canvas/50 rounded border text-balance;
}

@utility ghost {
	@apply action-base frosted-glass hover:bg-accent/3 rounded;
}

@utility link {
	@apply font-cdis text-[1rem] leading-[1.75rem] font-semibold hover:cursor-pointer;
}

@utility input {
	@apply border-ink/10 rounded border p-[.25em] text-start;
}

/* utilities */

@utility sticky-below-header {
	position: sticky;
	top: calc(var(--header-height) + var(--offset, 0px));
}

@utility frosted-glass {
	--tw-bg-opacity: 0.9;
	@apply backdrop-blur-lg backdrop-saturate-200;
}

@utility full-bleed {
	width: 100vw;
	margin-inline: calc(50% - 50vw);
}

@utility no-scrollbar {
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility scrollbar-custom {
	--scroll-color: var(--color-creamy);
	--scroll-thumb-color: #f1f1f1;
	--scroll-width: 2px;

	scrollbar-width: thin;
	scrollbar-color: var(--scroll-thumb-color) var(--scroll-color);

	& ::-webkit-scrollbar {
		width: var(--scroll-width);
		border-radius: 5px;
	}

	& ::-webkit-scrollbar-track {
		background-color: var(--scroll-color);
		width: var(--scroll-width);
		height: 40px;
		border-radius: 5px;
		margin: 2px;
	}

	& ::-webkit-scrollbar-thumb {
		background-color: var(--scroll-thumb-color);
		border-radius: 5px;
	}

	& ::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}
}

@utility overflow-fade {
	--offset: 4rem;
	mask: linear-gradient(
		to right,
		transparent,
		black var(--offset),
		black calc(100% - var(--offset)),
		transparent
	);
}

@utility overflow-fade-r {
	--offset: 4rem;
	mask: linear-gradient(
		to right,
		black 50%,
		black calc(100% - var(--offset)),
		transparent
	);
}

/* layout */

@utility section {
	@apply mx-auto max-w-screen-xl py-8 max-md:px-4 md:py-12;
}

/* richtext */

@utility richtext {
	@apply space-y-2 leading-relaxed;

	& :is(h1, h2, h3, h4, h5, h6) strong {
		@apply text-gradient;
	}

	& h1 {
		@apply h1;
	}

	& h2 {
		@apply h2;
	}

	& h3 {
		@apply h3;
	}

	& h4 {
		@apply h4;
	}

	& h5 {
		@apply h5;
	}

	& h6 {
		@apply h6;
	}

	& :is(ul, ol) {
		list-style: revert;
		padding-left: 1.5em;

		& > li > ol {
			list-style: lower-alpha;
		}
	}

	& a:not(:is(.action, .action-outline, .ghost)) {
		@apply link;
	}

	& :not(pre) > code {
		@apply bg-ink/10 rounded px-1;
	}

	& pre {
		tab-size: 2;
		@apply overflow-x-auto rounded bg-transparent p-3 text-xs/relaxed;
	}

	& blockquote {
		@apply border-accent/10 border-s-2 ps-4;
	}

	& table {
		display: block;
		overflow-x: auto;
		text-wrap: balance;
		line-height: initial;

		@apply max-md:full-bleed min-w-full;

		& th,
		td {
			@apply p-3 text-center;
		}

		& tbody {
			& tr:nth-child(odd) {
				@apply bg-accent/3;
			}

			& tr th:first-child {
				text-align: left;
			}
		}
	}

	& video {
		width: 100%;
	}
}

/* skeleton */

@utility skeleton {
	@apply bg-ink/3 h-[1lh];
}
@utility skeleton-2 {
	@apply bg-ink/3 h-[2lh];
}
@utility skeleton-3 {
	@apply bg-ink/3 h-[3lh];
}

@utility cross-toggle {
	background-color: transparent !important;
	&::after {
		top: 0px !important;
		transform: rotate(-45deg);
	}
	&::before {
		top: 0px !important;
		transform: rotate(45deg);
	}
}

/* components */

@utility accordion {
	& summary {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		gap: 1em;

		&::after {
			content: '+';
			display: inline-block;
			font-family: monospace;
			font-size: 1.5em;
		}
	}

	& ::-webkit-details-marker {
		display: none;
	}

	&:open summary::after {
		content: '-';
	}
}

@utility carousel {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min(var(--size, 300px), 80vw);
	overflow-x: auto;
	scroll-snap-type: x mandatory;

	& > * {
		scroll-snap-align: center;
	}
}

@utility perspective {
	perspective: 1000px;
}
@utility preserve-3d {
	transform-style: preserve-3d;
}
@utility backface-hidden {
	backface-visibility: hidden;
}
@utility rotate-y-180 {
	transform: rotateY(180deg);
}
