.frame {
	width: 760px;
	height: 152px;
	background-image: url('/svg/shape_desktop.svg');
}

.inner {
	width: 611px;
	height: 62px;
	/* border: 1px solid red; */
}

.phrase {
	width: 610px;
	height: 60px;
	/* border: 1px solid black; */
}
