#mask-ray {
	animation: reveal2 1.5s forwards ease 1s;
}

#mask-rect3 {
	animation: reveal 2s forwards ease 1s;
}

@keyframes reveal2 {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

#mask-rect {
	animation: reveal 2s forwards ease 2s;
}

@keyframes reveal {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
